<%- include('header') -%>
<h1>About Page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptatibus rerum fugiat magnam ducimus veritatis, dolores nemo in dignissimos, quia, iusto delectus debitis temporibus. Corporis provident soluta dolores dicta nisi? Obcaecati beatae excepturi est inventore voluptas, doloremque aperiam fugiat non ex accusantium, quibusdam blanditiis ducimus veniam recusandae incidunt, esse repellendus.</p>
<%- include('footer') -%>